/* Your styles should be mobile-first and responsive */

/**
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example:
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css
  *
*/

/* Universal styles */
* {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
}
*, *:before, *:after {
  box-sizing: border-box;
}
body {
  background: url('img/game-wallpaper.jpg') repeat;
  background: url('img/game-wallpaper-light.jpg') repeat;
  background: url('img/game-wallpaper-4.jpg') repeat;
}
main {
  padding: 0 20px;
  max-width: 1000px;
  margin: 0 auto;
}

/* Typography */
h1 {
  font-size: 48px;
  font-family: 'Press Start 2P', cursive;
}
h2 {
  font-size: 36px;
  font-family: 'Orbitron', sans-serif;
}




/* Form Elements */
.answer {
  padding: 10px 15px;
  border: 2px solid #919DAC;
  border-radius: 3px;
  display: inline-block;
  cursor: pointer;
}
.answer:hover {
  background: #17789c;
}
.answer.selected {
  background: #17789c;
}
.answer:focus {
  border-color: #3987FD;
}

ul.answers {
  list-style-type: none;
  padding-left: 0;
}
ul.answers li {
  display: block;
  margin-bottom: 10px;
}

button {
  -webkit-appearance: none;
  padding: 10px 15px;
  border: 1px solid #919DAC;
  border-radius: 3px;
  display: inline-block;
  cursor: pointer;

}

.startButton, .reset {
border: none;
background: #404040;
color: #ffffff;
font-weight: 100;
padding: 20px;
text-transform: uppercase;
border-radius: 6px;
display: inline-block;
transition: all 0.3s ease 0s;
}

.startButton:hover, .reset:hover {
  color: #404040;
  font-weight: 700;
  letter-spacing: 3px;
  background: none;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.3s ease 0s;
}

.answer {
font-family: ;
color: rgb(255, 255, 255);
text-decoration: none;
background: #60a3bc;
padding: 10px;
border-radius: 6px;
display: inline-block;
border: none;
transition: all 0.4s ease 0s;
}

.answer:hover {
  text-shadow: 0px 0px 6px rgb(150, 248, 255);
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
}

.nextQuestion, .finishButton {
  color: #60a3bc;
text-transform: uppercase;
background: #ffffff;
padding: 10px;
border: 2px solid #60a3bc;
border-radius: 6px;
display: inline-block;
transition: all 0.3s ease 0s;
}

/* .nextQuestion:hover {
  color: #494949;
border-radius: 50px;
border-color: #494949;
transition: all 0.3s ease 0s;
} */

.alert {
  padding: 10px 15px;
  border: 1px solid #919DAC;
  border-radius: 3px;
  display: block;
  background-repeat: no-repeat;
  background-position: left 10px center;
  background-size: 24px 24px;
  padding-left: 45px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.alert.correct {
  background-image: url('img/icon-correct.png');
  border-color: #3AAF91;
  background-color: #cceae3;
  color: #209476;
}
.alert.wrong {
  background-image: url('img/icon-wrong.png');
  border-color: #C93636;
  background-color: #C93636;
  background-color: #f9dbdb;
  color: #C93636;
}

/* Components */




/* Other */
.page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  padding: 20px 0;
}
.startPage {
  text-align: center;
}
.finishPage .container {
  display: flex;
  flex-direction: row;
}
.finalScore {
  margin-left: 50px;
  margin-top: 70px;
}


.question-header {
  display: flex;
  justify-content: space-between;

}
.question-number {

}
.question-score {

}
